workflows/[TEMPLATE] Automatisk email-rapport.json
{
  "name": "[TEMPLATE] Automatisk email-rapport",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "32 11 * * 2"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        256
      ],
      "id": "0e2227af-4786-4af5-8b87-fb235425ce10",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.boligflow.dk/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "company",
              "value": "ulrik-hansen-boligflow-demo-8NKQ"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"query\": \"REPLACE_WITH_TESTED_QUERY\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -240,
        256
      ],
      "id": "215e77f1-2871-4734-ba86-288fbe04d2fd",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9iDtQLgbfWTPCEXU",
          "name": "Boligflow API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// BOLIGFLOW EMAIL TEMPLATE\n// Claude: Modify the data extraction, filtering, and table columns\n// to match the user's request. Keep the HTML structure and branding.\n// ============================================\n\nconst response = $input.all()[0].json;\n// Check for GraphQL errors\nif (response.errors) {\n  throw new Error('GraphQL error: ' + response.errors.map(e => e.message).join(', '));\n}\n\n\n// --- DATA EXTRACTION (modify query path as needed) ---\nconst items = response.data?.leaseAgreements?.data || [];\n\n// --- FILTERING (add/change filters based on user request) ---\nconst filtered = items;\n\n// --- TABLE ROWS (change columns to match the data) ---\nlet rows = '';\nfor (const item of filtered) {\n  const lease = item.lease || {};\n  const address = lease.fullAddress || 'Ukendt adresse';\n  const leaseId = lease.id || '';\n  const startDate = lease.currentOrNextLeaseAgreement?.startDate || '-';\n\n  rows += `\n    <tr>\n      <td style=\"padding:8px; border-bottom:1px solid #eee;\">\n        <a style=\"color:#15847F;\" href=\"https://app.boligflow.dk/leases/${leaseId}\">${address}</a>\n      </td>\n      <td style=\"padding:8px; border-bottom:1px solid #eee;\">${startDate}</td>\n    </tr>`;\n}\n\n// --- EMAIL TITLE (change to match context) ---\nconst title = 'Oversigt';\nconst subtitle = `Der er ${filtered.length} resultater:`;\n\n// --- TABLE HEADERS (match the columns above) ---\nconst headers = `\n  <th style=\"text-align:left; padding:8px;\">Adresse</th>\n  <th style=\"text-align:left; padding:8px;\">Dato</th>`;\n\n// ============================================\n// HTML TEMPLATE - DO NOT MODIFY BELOW\n// ============================================\nconst html = `\n<table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"font-family:'lucida sans unicode','lucida grande',sans-serif;\">\n  <tr>\n    <td align=\"center\" style=\"padding:20px;\">\n      <img src=\"https://demo.stripocdn.email/content/guids/497a0606-5367-460f-9c9c-8a0b17a753ad/images/image.png\" width=\"180\">\n    </td>\n  </tr>\n  <tr>\n    <td style=\"padding:20px;\">\n      <h3 style=\"color:#15847F;\">${title}</h3>\n      <p>${subtitle}</p>\n      <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\">\n        <tr style=\"background:#15847F; color:#fff;\">\n          ${headers}\n        </tr>\n        ${rows}\n      </table>\n    </td>\n  </tr>\n</table>`;\n\nreturn [{ json: { html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        256
      ],
      "id": "0df06cf1-892e-4911-b49f-f83f08a6b5e8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fromEmail": "boligflowTEST@mail.com",
        "toEmail": "placeholder@change.me",
        "subject": "Ny indflytning",
        "html": "=<table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"font-family:'lucida sans unicode','lucida grande',sans-serif;\"><tr><td align=\"center\" style=\"padding:20px;\"><img src=\"https://demo.stripocdn.email/content/guids/497a0606-5367-460f-9c9c-8a0b17a753ad/images/image.png\" width=\"180\"></td></tr><tr><td style=\"padding:20px;\">{{ $json.html }}</td></tr></table>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        176,
        256
      ],
      "id": "f249e564-271c-4691-bf89-066feb27a707",
      "name": "Send an Email",
      "webhookId": "cb333672-cd71-4b4b-815c-8adc70023cc6",
      "credentials": {
        "smtp": {
          "id": "mmsaGhUj6tdnVYzt",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "content": "🔹 FORMÅL: Sender en HTML email med data fra Boligflow (tabel i mail-body)\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n🛑 STOP — LÆS DETTE FØR DU GØR NOGET\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nDu må IKKE kalde update_n8n_node_param eller konfigurere nogen node\nfør brugeren har bekræftet ADMIN-EMAIL i denne samtale.\n\n  [ ] ADMIN-EMAIL → modtager af fejlbeskeder (Send Error Email / toEmail)\n                    Dette er IKKE kunden — det er den person der fejlfikser workflows.\n\nADMIN-EMAIL kan ikke antages at være den samme som rapport-modtageren.\nSpørg eksplicit: \"Hvilken email skal modtage fejlbeskeder hvis workflow fejler?\"\nSkriv i dit svar: \"Jeg bruger ADMIN-EMAIL: ___\" inden du fortsætter.\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n📋 KONFIGURATIONSINSTRUKS\n\n1. QUERY TIL HTTP REQUEST:\n   - Søg i cached queries med list_cached_queries\n   - Hvis ingen match: brug get_types/get_details_types\n   - Test ALTID med graphql() FØR du sætter query i HTTP Request\n   - ALDRIG filtre i GraphQL — hent ALLE data, filtrér i Code node\n\n2. CODE NODE:\n   - Al filtrering i JavaScript (fx items.filter(i => i.status === 'AVAILABLE'))\n   - Brug enum_values fra clone response til korrekte filterværdier\n   - Output: { html: \"<overskrift + tabel>\" } — KUN indhold, intet andet\n   - Brug #15847F som header-farve\n   - ❌ ALDRIG logo, <html>, <body>, wrapper eller branding i Code node\n   - Send Email indpakker automatisk {{ $json.html }} i logo+wrapper.\n     Branding i Code node = DOBBELT LOGO.\n\n3. SEND EMAIL:\n   - toEmail → rapport-modtagerens email (fra brugerens besked)\n   - Opdatér subject (brug {{ }} for dynamiske datoer) og fromEmail\n   - ❌ Rør IKKE html-feltet\n\n4. SEND ERROR EMAIL:\n   - toEmail → ADMIN-EMAIL (fra 🛑 STOP-tjekket ovenfor)\n   - ❌ Rør ikke andre felter\n\n5. SCHEDULE TRIGGER:\n   - Sæt cron expression for ønsket interval\n",
        "height": 400,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        -224
      ],
      "id": "22f664e2-7768-481f-a152-ccc1eeac99b6",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        512
      ],
      "id": "304d0cb7-d060-4398-bc93-cb441ae7d29a",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "fromEmail": "boligflow@test.dk",
        "toEmail": "foruser@change.me",
        "subject": "⚠️ Dit Boligflow workflow er fejlet",
        "html": "=<table width=\"100%\" style=\"font-family:'lucida sans unicode','lucida grande',sans-serif;\">\n  <tr>\n    <td align=\"center\" style=\"padding:20px;\">\n      <img src=\"https://demo.stripocdn.email/content/guids/497a0606-5367-460f-9c9c-8a0b17a753ad/images/image.png\" width=\"180\">\n    </td>\n  </tr>\n  <tr>\n    <td style=\"padding:20px;\">\n      <h3 style=\"color:#e74c3c;\">Workflow fejlet</h3>\n      <p>Dit workflow <strong>{{ $workflow.name }}</strong> er fejlet.</p>\n      <p>Fejl: {{ $json.error.message }}</p>\n      <p>Kontakt support eller bed din AI-assistent om at køre et health check.</p>\n    </td>\n  </tr>\n</table>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -240,
        512
      ],
      "id": "94843dc9-a707-430e-9c0f-a78ac711f0f5",
      "name": "Send Error Email",
      "webhookId": "845304c6-2e7f-47fd-a8ff-a2ee319cc01b",
      "credentials": {
        "smtp": {
          "id": "mmsaGhUj6tdnVYzt",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3a5f3697-4cdc-4901-84f8-319780c19ee5",
  "meta": {
    "instanceId": "888ca9a2a4ecdec00b2f08d94a9e882378f6b040678d1a8f57a0fe0ce536212d"
  },
  "id": "b7_EnMUKRHaqdVVzvxeSC",
  "tags": []
}