workflows/[TEMPLATE] Excel-rapport til email.json
{
  "name": "[TEMPLATE] Excel-rapport til email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "32 11 * * 2"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        64,
        416
      ],
      "id": "8031cdce-ef86-4b92-b914-4a5142004811",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.boligflow.dk/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "company",
              "value": "ulrik-hansen-boligflow-demo-8NKQ"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"query\": \"REPLACE_WITH_TESTED_QUERY\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        416
      ],
      "id": "0f462af6-8b94-4284-9142-c679dae64d33",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9iDtQLgbfWTPCEXU",
          "name": "Boligflow API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// BOLIGFLOW CSV EXPORT\n// Claude: Modify data extraction and row mapping\n// to match the user's request.\n// ============================================\n\nconst response = $input.all()[0].json;\nif (response.errors) {\n  throw new Error('GraphQL error: ' + response.errors.map(e => e.message).join(', '));\n}\n\n// --- DATA EXTRACTION (modify query path as needed) ---\nconst items = response.data?.leaseAgreements?.data || [];\n\n// --- MAP TO FLAT ROWS (change columns to match the data) ---\nconst rows = items.map(item => ({\n  Adresse: item.lease?.fullAddress || '',\n  Status: item.status || '',\n  Startdato: item.startDate || '',\n  Slutdato: item.endDate || ''\n}));\n\nreturn rows.map(row => ({ json: row }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        416
      ],
      "id": "da46a197-8d2d-419b-bacd-98f078a609c2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fromEmail": "boligflowTEST@mail.com",
        "toEmail": "placeholder@change.me",
        "subject": "Ny indflytning",
        "html": "<table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"font-family:'lucida sans unicode','lucida grande',sans-serif;\"><tr><td align=\"center\" style=\"padding:20px;\"><img src=\"https://demo.stripocdn.email/content/guids/497a0606-5367-460f-9c9c-8a0b17a753ad/images/image.png\" width=\"180\"></td></tr><tr><td style=\"padding:20px;\"><p>Vedlagt finder du den ønskede rapport fra Boligflow.</p></td></tr></table>\n",
        "options": {
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        880,
        416
      ],
      "id": "6301a352-dab1-48c6-ab4f-14289cda52ac",
      "name": "Send an Email",
      "webhookId": "cb333672-cd71-4b4b-815c-8adc70023cc6",
      "credentials": {
        "smtp": {
          "id": "mmsaGhUj6tdnVYzt",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "content": "🔹 FORMÅL: Sender en Excel-fil som vedhæftning med data fra Boligflow.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n🛑 STOP — LÆS DETTE FØR DU GØR NOGET\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nDu må IKKE kalde update_n8n_node_param eller konfigurere nogen node\nfør brugeren har bekræftet ADMIN-EMAIL i denne samtale.\n\n  [ ] ADMIN-EMAIL → modtager af fejlbeskeder (Send Error Email / toEmail)\n                    Dette er IKKE kunden — det er den person der fejlfikser workflows.\n\nADMIN-EMAIL kan ikke antages at være den samme som rapport-modtageren.\nSpørg eksplicit: \"Hvilken email skal modtage fejlbeskeder hvis workflow fejler?\"\nSkriv i dit svar: \"Jeg bruger ADMIN-EMAIL: ___\" inden du fortsætter.\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n📋 KONFIGURATIONSINSTRUKS (Excel rapport)\n\n1. QUERY TIL HTTP REQUEST:\n   - Søg i cached queries med list_cached_queries\n   - Hvis ingen match: brug get_types/get_details_types\n   - Test ALTID med graphql() FØR du sætter query i HTTP Request\n   - ALDRIG filtre i GraphQL — hent ALLE data, filtrér i Code node\n\n2. CODE NODE:\n   - Al filtrering i JavaScript\n   - Output SKAL være flade JSON-rækker (én objekt = én række i Excel)\n   - Eksempel: return items.map(i => ({ Navn: i.name, Status: i.status }))\n   - ❌ Ingen HTML, ingen branding — kun rene JSON-rækker\n\n3. CONVERT TO FILE:\n   - Sæt et beskrivende filnavn baseret på konteksten (kundenavn + datatype)\n   - SKAL sættes som n8n udtryk og slutte med .xlsx\n   - Format: ={{ \"kundenavn_datatype_\" + $now.toFormat('yyyy-MM') + \".xlsx\" }}\n   - Eksempel: ={{ \"holmparken14_lejere_\" + $now.toFormat('yyyy-MM') + \".xlsx\" }}\n   - ❌ Aldrig rå tekst som filnavn — $now evalueres ikke og .xlsx kan gå tabt\n\n\n4. SEND EMAIL:\n   - toEmail → rapport-modtagerens email (fra brugerens besked)\n   - Opdatér subject og fromEmail\n   - Attachment sættes automatisk via binary property \"data\"\n   - ❌ Rør IKKE html-feltet\n\n5. SEND ERROR EMAIL:\n   - toEmail → ADMIN-EMAIL (fra 🛑 STOP-tjekket ovenfor)\n   - ❌ Rør ikke andre felter\n\n6. SCHEDULE TRIGGER:\n   - Sæt cron expression for ønsket interval\n",
        "height": 400,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        -64
      ],
      "id": "217d6b14-136d-48a4-8365-8541b38425ea",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        64,
        672
      ],
      "id": "8e3727e4-eb60-4968-9974-1d0eb4daa632",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "fromEmail": "boligflow@test.dk",
        "toEmail": "foruser@change.me",
        "subject": "⚠️ Dit Boligflow workflow er fejlet",
        "html": "=<table width=\"100%\" style=\"font-family:'lucida sans unicode','lucida grande',sans-serif;\">\n  <tr>\n    <td align=\"center\" style=\"padding:20px;\">\n      <img src=\"https://demo.stripocdn.email/content/guids/497a0606-5367-460f-9c9c-8a0b17a753ad/images/image.png\" width=\"180\">\n    </td>\n  </tr>\n  <tr>\n    <td style=\"padding:20px;\">\n      <h3 style=\"color:#e74c3c;\">Workflow fejlet</h3>\n      <p>Dit workflow <strong>{{ $workflow.name }}</strong> er fejlet.</p>\n      <p>Fejl: {{ $json.error.message }}</p>\n      <p>Kontakt support eller bed din AI-assistent om at køre et health check.</p>\n    </td>\n  </tr>\n</table>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        272,
        672
      ],
      "id": "94013c46-4f0f-4c29-800e-849e5325251f",
      "name": "Send Error Email",
      "webhookId": "845304c6-2e7f-47fd-a8ff-a2ee319cc01b",
      "credentials": {
        "smtp": {
          "id": "mmsaGhUj6tdnVYzt",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $now.toFormat('rapport_yyyy-MM') + '.xlsx' }}\n"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        688,
        416
      ],
      "id": "a28df84f-31c9-4bec-af6a-6cb9b53b4b46",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d832242a-7325-4101-8ed5-d9106a67a293",
  "meta": {
    "instanceId": "888ca9a2a4ecdec00b2f08d94a9e882378f6b040678d1a8f57a0fe0ce536212d"
  },
  "id": "P5s2k8_4gMMrAOMCOh4E_",
  "tags": []
}